.toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #00684A;
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adjust spacing as needed */
    text-align: center;
  }
  
  .sparkleIcon{
    margin-right: 2px;
    color: white;
  }

  .subtitle{
    color: white;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  